# General VC
*.user
*.suo
*.filters
*.sdf
*.opensdf
*.aps

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# /libdash/
/libdash/Debug
/libdash/intermediate
/libdash/ipch

# /libdash/bin/
/libdash/bin/*.dll
/libdash/bin/*.exe
/libdash/bin/*.exp
/libdash/bin/*.ilk
/libdash/bin/*.lib
/libdash/bin/*.pdb
/libdash/bin/*.vh4
/libdash/bin/*.txt

# /libdash/sampleplayer/
/libdash/sampleplayer/log.txt

# /libdash/qtsampleplayer/
/libdash/qtsampleplayer/GeneratedFiles

.metadata
build

.idea
cmake-build-*

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
